<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/styles/nouns.css}">
    <meta charset="UTF-8">
    <title>Глаголы</title>
    </head>
<body>

<header>
    <h1>Verbs</h1>
    <button id="btn-out" type="button" onClick="location.href='/logout'">Выйти из аккаунта</button>

</header>
<nav>
    <a th:href="@{/start/verb}">Глаголы</a>
    <a th:href="@{/start/noun}">Существительные</a>
    <a th:href="@{/start/adjective}">Прилагательные</a>

</nav>
<div>
    <h2>
        Теоретические сведения
    </h2>
    <button id="btn-test" type="button" onClick="location.href='/start/verb/test'">Проверить свои знания</button>
    <p class="theory">
    <h3>Present Simple tense (Настоящее простое время)</h3>

    Время <b>Present Simple</b> обозначает действие в настоящем в широком смысле слова.
    Оно употребляется для обозначения обычных, регулярно повторяющихся или постоянных действий,
    например, когда мы говорим о чьих-либо привычках, режиме дня, расписании и т. д., т. е.
    <b>Present Simple</b> обозначает действия, которые происходят в настоящее время,
    но не привязаны именно к моменту речи.<br><br>

    I <b>live</b> in London.<br>
    Я живу в Лондоне.<br><br>
    The meeting <b>starts</b> at 6 o'clock.<br>
    Собрание начнется в шесть часов.<br>
    <h3>Образование Present Simple tense</h3>

    <img src="/styles/presentsimple.jpg" class="center-img"><br>

    <h3>Present Continuous tense (Настоящее длительное время)</h3>

    Времена группы <b>Continuous</b> указывают на процесс, действие, длящееся в определенный момент в прошлом, настоящем или будущем.
<br><br>
    Sally <b>is doing</b> her homework at the moment.<br>
    Салли сейчас делает домашнее задание.<br><br>
    Dad and me <b>are fishing</b> now.<br>
    Мы с папой сейчас рыбачим.<br><br>
    Время <b>Present Continuous</b> обычно указывает на процесс, длящийся непосредственно в
    момент речи. На это могут указывать контекст или такие слова, как:<br><br>
    <b>now – сейчас<br>
    at the moment – в текущий момент</b>
    <br>
    <h3>Образование Present Continuous tense</h3>
    <img src="/styles/presentcont.jpg" class="center-img"><br>

    <h3>Past Simple tense (Прошедшее простое время)</h3>

    Время <b>Past Simple</b> используется для обозначения действия, которое произошло в определенное
    время в прошлом и время совершения которого уже истекло.<br><br>

    Для уточнения момента совершения действия в прошлом при использовании времени Past Simple обычно используются такие слова, как:
    <br><br>
    <b>five days ago – пять дней назад<br>
    last year – в прошлом году<br>
    yesterday – вчера<br>
        in 1980 – в 1980 году</b><br>

    <h3>Образование Past Simple tense</h3>
    <img src="/styles/pastsimple.jpg" class="center-img"><br>

    <h3>Past Continuous tense (Прошедшее длительное время)</h3>
    Время <b>Past Continuous</b> указывает на процесс, длившийся в определенный момент или период в прошлом.
    В отличие от времени Past Simple, этот момент в прошлом должен быть назван прямо (например,
    yesterday at 5 o’clock, when you called, when rain started) или быть очевидным из контекста.<br><br>

    When you called I <b>was taking</b> a shower.<br>
    Когда ты позвонил, я принимал душ.<br><br>
    Charlie and me <b>were already driving</b> home when the engine suddenly stopped.<br>
    Мы с Чарли уже ехали домой, как вдруг заглох мотор.<br>
    <h3>Образование Past Continuous tense</h3>
    <img src="/styles/pastcont.jpg" class="center-img"><br>
    <h3>Future Simple tense (Будущее простое время)</h3>

    Время <b>Future Simple</b> ссылается на действие, которое совершится в неопределенном или отдаленном будущем.<br>
    Простое будущее время в английском языке обычно используется с обстоятельствами:<br><br>

    <b>tomorrow – завтра<br>
    next year – в следующем году<br>
    in five years – через пять лет<br>
        in 2095 – в 2095 году</b><br>
    <h3>Образование Future Simple tense</h3>
    <img src="/styles/futuresimple.jpg" class="center-img"><br>



    <h3>Future Continuous tense (Будущее длительное время)</h3>
    Время <b>Future Continuous</b> указывает на процесс, который будет длиться в определенный момент в будущем.
    В отличие от времени Future Simple, этот момент в будущем должен быть назван прямо
    (tomorrow at 4 o’clock, when we meet) или быть очевидным из контекста.<br><br>

    Tomorrow this time I <b>will be flying</b> to New York.<br>
    Завтра в это же время я буду лететь в Нью-Йорк.<br><br>
    Don’t disturb me in the evening, <b>I’ll be preparing</b> for exam.<br>
    Не мешайте мне вечером, я буду готовиться к экзамену.<br>
    <h3>Образование Future Continuous tense</h3>
    <img src="/styles/futurecont.jpg" class="center-img"><br>
    </p>
</div>
</body>
</html>